.root {
    font-size: 6em;
    font-weight: bold;
    border: 1px solid #333333;
    border-radius: 5px;
    width: 1em;
    min-height: 1.5em;
    text-align: center;
    cursor: pointer;
}

.root:focus {
    background-color: #E3E3E3;
}